$col-1: 8.333%;
$col-2: 2* $col-1;
$col-3: 3* $col-1;
$col-4: 4* $col-1;
$col-5: 5* $col-1;
$col-6: 6* $col-1;
$col-7: 7* $col-1;
$col-8: 8* $col-1;
$col-9: 9* $col-1;
$col-10: 10* $col-1;
$col-11: 11* $col-1;
$col-12: 12* $col-1;
$height-base: 50px;
